<div class="half">
    <H1> Voici les dernières publications  : </H1>

    <% data.forEach(element=> { %>

        <article class="card">
            <h3>
                <%= element.title %>
            </h3>
                        <% element.photos.forEach(element=> { %>
                            <img src="/img/<%=element.url  %>" alt="<%=element.url %>">
                            <% }) %>
            <p>
                <%= element.date.toLocaleDateString() %> 
            </p>
            <p>
                <%= element.content %>
            </p>
            <a href="/story/<%= element.id%>">En savoir plus</a>

        </article>

        <% }) %>

</div>