<H2> Voici le détail : <%= data.title %>
</H2>
<div class="half">
 

<p> Ce billet à été ecrit par <%= data.alias %> le <%= data.date.toLocaleDateString() %></p>

<div class="card">
    
    <% photo.forEach(element=> { %>
    <img src="<%=element.url  %>" alt="<%=element.url %>">
    <% }) %>
    <p>
    <%= data.content %>
    </p>

</div>

<ul class ="card">
    <% com.forEach(element=> { %>
        <li> Commentaire de <%= element.user %>.
                " <%= element.msg %> " </li>
    <% }) %>
</ul>

<form class="card" action="/comment" method="POST">
    <input type="hidden" name="id_story" value = <%= idStory %> />
    <label for="alias">your alias</label>
    <input type="text" name="alias" id="alias"><br />
    <label for="comment">Votre commentaire</label>
    <textarea name="comment" id="comment"  cols="55" rows="10"> </textarea>
    <input type="submit" value="Envoyer le formulaire">
</form>


</div>


 





   